:root{--color-primary:#001C30;
--color-bg-primary:#001C30;
--color-secondary:#176B87;  
--color-bg-secondary:#176B87;
--color-tertiary:#DAFFFB;
--color-bg-tertiary:#DAFFFB;
--color-quaternary:#5E686D;
--color-bg-quaternary:#5E686D;
--font-size-12:12px;
--font-size-14:14px;
--font-size-16:16px;
--font-size-18:18px;
--font-size-20:20px;
--color-btn-green:#00FF9C;
--color-btn-bg-green:#00FF9C;
--color-btn-red:#F93827;
--color-btn-bg-red:#F93827;
--color-green:var(--color-btn-green);
--color-bg-green:var(--color-btn-bg-green);
--color-red:var(--color-btn-red);
--color-bg-red:var(--color-btn-bg-red);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/*-----------Global variables----------*/
h4{
    color: var(--color-tertiary);
    padding:10px;
    font-size: var(--font-size-20);
    text-transform: uppercase;
}
button[type="submit"]{
    background-color: var(--color-bg-primary);
    color: var(--color-tertiary);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size-20);
    transition: all 0.3s ease-in-out;
    width: 100%;
}
button[type="submit"]:hover{
    box-shadow: var(--color-tertiary) 0px 0px 10px;
}
input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    outline: none;
    border: 0;
}
body{
    position: relative;
    overflow: hidden;
}
/*-----------Global variables----------*/


.header {
  background: var(--color-bg-primary);
  color: var(--color-tertiary);
  font-size: var(--font-size-16);
  display: flex;
  align-items:center;
  width: 100%;
  justify-content: flex-end;
  position: fixed;
  padding: 30px;
}
.toggle_menu{
    display: none;
}
.header .menu{
    padding:10px;
    display: flex;
    text-transform: uppercase;
    font-size: var(--font-size-20);
}
.header .menu ul{
    display:flex;
    list-style:none;
    padding:10px;
    gap: 20px;
}
.header .menu ul li a{
    text-decoration:none;
    color:var(--color-tertiary);
    font-size: var(--font-size-20);
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-secondary);
    flex-direction: column;
    width: 100%;
    height: 100svh;
}

.container form{
    background:var(--color-bg-secondary);
    display: flex;
    color: var(--color-tertiary);
    font-size: var(--font-size-20);
    flex-direction: column;
    gap: 10px;
    padding:10px;
    border-radius: 10px;
    border: 3px solid var(--color-tertiary);
}
.input-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding:10px;
}
.container form input{
    padding:10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.other-field{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
    a{
        text-decoration: none;
        color: var(--color-tertiary);
        font-size: var(--font-size-16);
    }
}
textarea{
    padding:10px;
    border-radius: 5px;
    border: none;
    max-width: 300px;
    max-height: 300px;
    outline: none;
    border: 0;
   
}
/*---------------upload styles-----------*/
.display .project{
    display: flex;
    gap: 20px;
    border-radius: 5px;
    align-items: center;
    background-color: var(--color-bg-primary);
}
.display .project hr{
    width: 1px;
    height: 100px;
}
.project_details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.project_details h4{
    color: var(--color-tertiary);
    padding:10px;
    font-size: var(--font-size-20);
    text-transform: uppercase;
    text-decoration: underline;
}
.project_details p{
    color: var(--color-tertiary);
    padding:10px;
    font-size: var(--font-size-18);
    font-weight: 400;
}
.project_details .status{
    color: var(--color-btn-red);
    padding:10px;
    font-size: var(--font-size-18);
    font-weight: 400;
}
.project .table{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-height: 300px;
    overflow: scroll;
}
.project table{
    width: 100%;
    border-collapse: collapse;
}
.project table th{
    background-color: var(--color-green);
    color: var(--color-secondary);
    padding: 10px;
    font-size: var(--font-size-18);
    font-weight: 400;
}
.project table td{
    background-color: var(--color-bg-primary);
    color: var(--color-tertiary);
    padding: 10px;
    font-size: var(--font-size-18);
    font-weight: 400;
}
.project table tr:nth-child(even){
    background-color: var(--color-bg-secondary);
}
.project table tr:nth-child(odd){
    background-color: var(--color-bg-primary);
}
.project table tr td{
    transition: all 0.3s ease-in-out;
    padding: 5px;
}
.project table tr:hover td{
    background:var(--color-bg-quaternary);
}

.project table button{
    color:var(--color-tertiary);
    cursor: pointer;
    border-radius: 4px;
    background:var(--color-btn-green);
    padding:5px;
    text-transform: uppercase;
    outline: none;
    border: 0;
    font-size: var(--font-size-18);
}
.project table td .status,.delete-user {
    color:var(--color-tertiary);
    cursor: pointer;
    border-radius: 4px;
    background:var(--color-btn-red);
    text-transform: uppercase;
    outline: none;
    border: 0;
}
.status-active{
    color:var(--color-secondary);
   background: var(--color-bg-green);
}
.project table td .delete-user {
    color:var(--color-tertiary);
    cursor: pointer;
    border-radius: 4px;
    background:var(--color-btn-red);
    text-transform: uppercase;
    outline: none;
    border: 0;
}
.project table .fa-download{
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    font-size: var(--font-size-18);
    margin: 0;
    padding: 5px;
}
.project table .status:hover{
    color:var(--color-bg-tertiary);
    background: var(--color-red);
    cursor: pointer;
}
.table {
    width: 100%;
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }
.user-project{
    background-color: none;
}
  .card-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding:10px;
    flex-direction: column;
    height: 600px;
    margin-top: 6rem; 
    overflow: scroll;
  }
  .card-group::-webkit-scrollbar {
    width: 0;
  }
  .card-group .card{
    background: var(--color-bg-primary);
    display: flex;
    width: 100%;
    gap:10px;
    padding:10px;
  }
  .card-group .card:nth-child(odd){
    background-color: var(--color-bg-quaternary);
  }
  
  .card-group .card:hover{
    box-shadow: var(--color-bg-green) 0 0 5px;
  }
  .btn-group{
    display: flex;
    gap:10px;
  }
  .btn-group button{
    outline: none;
    border: 0;
  }
  .btn-group button  i{
    font-size: 0.9rem;
  }
  .user-detail{
    display: flex;
    gap: 10px;
    color: var(--color-tertiary);
    align-items: center;
  }
  .btn-group button{
    padding:10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .spinner  {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    border-top-color: transparent; /* Creates a spinning effect */
    animation: animateDownload 2s linear infinite;
}

 
  @keyframes animateDownload {
    0%{
       transform: rotate(0deg);
    }100%{
         transform: rotate(360deg);
    }
  }
  .alert{
    position: absolute;
    top:200px;
    right: -110px;
    transition: all 0.3s ease-in-out;
    padding:10px;
    border-radius: 4px;
  }
  .add-alert{
     right: 10px;
     background: var(--color-btn-green);
     color: var(--color-primary);
  }
  .loader{
    background-color: red;
    span:nth-child(1){
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid var(--color-bg-tertiary);
    }
  }
  .message-area{
    color:var(--color-red);
    padding: 10px;
    display: none;
  }
  .message-error{
    display: block;
    transition: all 0.5s ease-in-out;
    color: var(--color-red);
  }
  .message-success{
    display: block;
    color: var(--color-green);
    transition: all 0.5s ease-in-out;
  }
/* media querries for responsive design */
@media  (max-width: 508px){
    .toggle_menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
        cursor: pointer;
    }
    .menu{
        display: flex;
        position: absolute;
        flex-direction: column;
        visibility:none;
        background:var(--color-bg-primary);
        right:-1000px;
        top:65px;
        z-index: 1;
        padding: 40px;
        height: 50svh;
        width: 200px;
        transition: all 0.3s ease-in-out;
        align-items: center;
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
  .menu-active{
    right:0;

  }
  .project{
    flex-direction: column;
    width: fit-content;
  }
  .display .project hr{
    width: 100%;
    height: 1px;
}
.project table tbody{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.project table thead{
    visibility: none;
    display: none;
    flex-direction: column;
}

tr{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
tbody{
    display: grid;
    grid-row:repeat(auto-fit, minmax(250px, 1fr));
}
.card-group{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.card{
    flex-direction: column;
}
.user-detail{
    flex-direction: column;
}
}
